interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/xml;charset=utf-8
    method: GET
    uri: https://stephenkingaudiobooks.com/wp-sitemap-posts-post-1.xml
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<?xml-stylesheet type=\"text/xsl\"
        href=\"https://stephenkingaudiobooks.com/wp-sitemap.xsl\" ?>\n<urlset xmlns=\"http://www.sitemaps.org/schemas/sitemap/0.9\"><url><loc>https://stephenkingaudiobooks.com/carrie-audio/</loc><lastmod>2020-10-13T17:41:08+00:00</lastmod></url><url><loc>https://stephenkingaudiobooks.com/salems-lot/</loc><lastmod>2019-08-12T17:54:12+00:00</lastmod></url><url><loc>https://stephenkingaudiobooks.com/rage/</loc><lastmod>2019-08-12T16:29:37+00:00</lastmod></url><url><loc>https://stephenkingaudiobooks.com/the-shining/</loc><lastmod>2020-10-13T17:46:38+00:00</lastmod></url><url><loc>https://stephenkingaudiobooks.com/night-shift/</loc><lastmod>2019-08-11T19:23:07+00:00</lastmod></url><url><loc>https://s[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stephenkingaudiobooks.com/carrie-audio/
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en-US\">\n<head>\n<meta charset=\"UTF-8\">\n<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link
        rel=\"profile\" href=\"https://gmpg.org/xfn/11\">\n\n<title>Stephen King &#8211;
        Carrie Audiobook &#8211; Stephen King Audiobooks</title>\n<meta name='robots'
        content='max-image-preview:large' />\n<link rel='dns-prefetch' href='//fonts.googleapis.com'
        />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"Stephen King
        Audiobooks &raquo; Feed\" href=\"https://stephenkingaudiobooks.com/feed/\"
        />\n<link rel=\"alternate\" title=\"oEmbed (JSON)\" type=\"application/json+oembed\"
        href=\"https://stephenkingaudiobooks.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fstephenkingaudiobooks.com%2Fcarrie-audio%2F\"
        />\n<link rel=\"alternate\" title=\"oEmbed (XML)\" type=\"text/xml+oembed\"
        href=\"https://stephenkingaudiobooks.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fstephenkingaudiobooks.com%2Fcarrie-audio%2F&#038;format=xml\"
        />\n<style id='wp-img-auto-sizes-contain-inline-css' type='text/css'>\nimg:is([sizes=auto
        i],[sizes^=\"auto,\" i]){contain-intrinsic-size:3000px 1500px}\n/*# sourceURL=wp-img-auto-sizes-contain-inline-css
        */\n</style>\n<style id='wp-emoji-styles-inline-css' type='text/css'>\n\n\timg.wp-smiley,
        img.emoji {\n\t\tdisplay: inline !important;\n\t\tborder: none !important;\n\t\tbox-shadow:
        none !important;\n\t\theight: 1em !important;\n\t\twidth: 1em !important;\n\t\tmargin:
     [...]
