interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stephenkingaudiobooks.com/?s=King
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en-US\">\n<head>\n<meta charset=\"UTF-8\">\n<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link
        rel=\"profile\" href=\"https://gmpg.org/xfn/11\">\n\n<title>Search Results
        for &#8220;King&#8221; &#8211; Stephen King Audiobooks</title>\n<meta name='robots'
        content='noindex, follow, max-image-preview:large' />\n<link rel='dns-prefetch'
        href='//fonts.googleapis.com' />\n<link rel=\"alternate\" type=\"application/rss+xml\"
        title=\"Stephen King Audiobooks &raquo; Feed\" href=\"https://stephenkingaudiobooks.com/feed/\"
        />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"Stephen King
        Audiobooks &raquo; Search Results for &#8220;King&#8221; Feed\" href=\"https://stephenkingaudiobooks.com/search/King/feed/rss2/\"
        />\n<style id='wp-img-auto-sizes-contain-inline-css' type='text/css'>\nimg:is([sizes=auto
        i],[sizes^=\"auto,\" i]){contain-intrinsic-size:3000px 1500px}\n/*# sourceURL=wp-img-auto-sizes-contain-inline-css
        */\n</style>\n<style id='wp-emoji-styles-inline-css' type='text/css'>\n\n\timg.wp-smiley,
        img.emoji {\n\t\tdisplay: inline !important;\n\t\tborder: none !important;\n\t\tbox-shadow:
        none !important;\n\t\theight: 1em !important;\n\t\twidth: 1em !important;\n\t\tmargin:
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stephenkingaudiobooks.com/stephen-king-you-like-it-darker-audiobook/
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en-US\">\n<head>\n<meta charset=\"UTF-8\">\n<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link
        rel=\"profile\" href=\"https://gmpg.org/xfn/11\">\n\n<title>Stephen King &#8211;
        You Like It Darker Audiobook &#8211; Stephen King Audiobooks</t[...]
