interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://goldenaudiobooks.com/
  response:
    body:
      string: "\n\t<!DOCTYPE html>\n<html lang=\"en-US\">\n<head>\n<meta charset=\"UTF-8\">\n<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link
        rel=\"profile\" href=\"https://gmpg.org/xfn/11\">\n\n<meta name='robots' content='index,
        follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />\n\n\t<!--
        This site is optimized with the Yoast SEO plugin v27.5 - https://yoast.com/product/yoast-seo-wordpress/
        -->\n\t<title>- Goldenaudiobooks</title><link rel=\"preload\" data-rocket-preload
        as=\"image\" href=\"https://goldenaudiobooks.com/wp-content/uploads/2025/12/51bzC69H4L._SL500-300x300.jpg\"
        fetchpriority=\"high\">\n\t<link rel=\"canonical\" href=\"https://goldenaudiobooks.com/\"
        />\n\t<meta property=\"og:locale\" content=\"en_US\" />\n\t<meta property=\"og:type\"
        content=\"website\" />\n\t<meta property=\"og:title\" content=\"- Goldenaudiobooks\"
        />\n\t<meta property=\"og:url\" content=\"https://goldenaudiobooks.com/\"
        />\n\t<meta property=\"og:site_name\" content=\"Goldenaudiobooks\" />\n\t<meta
        property=\"article:modified_time\" content=\"2024-06-22T09:13:04+00:00\" />\n\t<meta
        name=\"twitter:card\" content=\"summary_large_image\" />\n\t<script type=\"application/ld+json\"
        class=\"yoast-schema-graph\">{\"@context\":\"https:\\/\\/schema.org\",\"@graph\":[{\"@type\":\"WebPage\",\"@id\":\"https:\\/\\/goldenaudiobooks.com\\/\",\"url\":\"https:\\/\\/goldenaudiobooks.com\\/\",\"name\":\"-
        Goldenaudiobooks\",\"isPartOf\":{\"@id\":\"https:\\/\\/goldenaudiobooks.com\\/#website\"},\"datePublished\":\"2023-04-30T15:43:59+00:00\",\"dateModified\":\"2024-06-22T09:13:04+00:00\",\"breadcrumb\":{\"@id\":\"https:\\/\\/goldenaudiobooks.com\\/#breadcrumb\"},\"inLanguage\":\"en-US\",\"potentialAction\":[{\"@type\":\"ReadAction\",\"target\":[\"https:\\/\\/goldenaudiobooks.com\\/\"]}]},{\"@type\":\"BreadcrumbList\",\"@id\":\"https:\\/\\/goldenaudiobooks.com\\/#breadcrumb\",\"itemListElement\":[{\"@type\":\"ListItem\",\"position\":1,\"name\":\"Home\"}]},{\"@type\":\"WebSite\",\"@id\":\"https:\\/\\/goldenaudiobooks.com\\/#website\",\"url\":\"https:\\/\\/goldenaudiobooks.com\\/\",\"name\":\"Goldenaudiobooks\",\"description\":\"Online\",\"potentialAction\":[{\"@type\":\"SearchAction\",\"target\":{\"@type\":\"EntryPoint\",\"urlTemplate\":\"https:\\/\\/goldenaudiobooks.com\\/?s={search_term_string}\"},\"query-input\":{\"@type\":\"PropertyValueSpecification\",\"valueRequired\":true,\"valueName\":\"search_term_string\"}}],\"inLanguage\":\"en-US\"}]}</script>\n\t<meta
        name=\"google-site-verification\" content=\"9zX5m2UcAMplgOnx5PdVChW39NQ6lxruO6ia3-Qt9ZQ\"
        />\n\t<!-- / Yoast SEO plugin. -->\n\n\n<link rel='dns-prefetch' href='//fonts.googleapis.com'
        />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"Goldenaudiobooks
        &raquo; Feed\" href=\"https://goldenaudiobooks.com/feed/\" />\n<link rel=\"alternate\"
        title=\"oEmbed (JSON)\" type=\"application/json+oembed\" href=\"https://goldenaudiobooks.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fgoldenaudiobooks.com%2F\"
        />\n<link rel=\"alternate\" title=\"oEmbed (XML)\" type=\"text/xml+oembed\"
        href=\"https://goldenaudiobooks.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fgoldenaudiobooks.com%2F&#038;format=xml\"
        />\n<style id='wp-img-auto-sizes-contain-inline-css' type='text/css'>\nimg:is([sizes=auto
        i],[sizes^=\"auto,\" i]){contain-intrinsic-size:3000px 1500px}\n/*# sourceURL=wp-img-auto-sizes-contain-inline-css
        */\n</style>\n<link data-minify=\"1\" rel='stylesheet' id='pt-cv-public-style-css'
        href='https://goldenaudiobooks.com/wp-content/cache/min/1/wp-content/plugins/content-views-query-and-display-post-page/public/assets/css/cv.css?ver=1776770754'
        type='text/css' media='all' />\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://goldenaudiobooks.com/ernest-cline-ready-player-one-audiobook-free-online/
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      location:
      - https://goldenaudiobooks.com/ernest-cline-ready-player-one-audio-book/
      x-redirect-by:
      - WordPress
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://goldenaudiobooks.com/ernest-cline-ready-player-one-audio-book/
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en-US\">\n<head>\n<meta charset=\"UTF-8\">\n<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link
        rel=\"profile\" href=\"https://gmpg.org/xfn/11\">\n\n<meta name='robots' content='index,
        follow, max-image-preview:large, max-snippet:-1, max-video-pr[...]
