interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/xml;charset=utf-8
    method: GET
    uri: https://goldenaudiobooks.com/sitemap_index.xml
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"//goldenaudiobooks.com/wp-content/plugins/wordpress-seo/css/main-sitemap.xsl\"?>\n<sitemapindex
        xmlns=\"http://www.sitemaps.org/schemas/sitemap/0.9\">\n\t<sitemap>\n\t\t<loc>https://goldenaudiobooks.com/post-sitemap.xml</loc>\n\t\t<lastmod>2025-12-11T20:35:57+00:00</lastmod>\n\t</sitemap>\n\t<sitemap>\n\t\t<loc>https://goldenaudiobooks.com/post-sitemap2.xml</loc>\n\t\t<lastmod>2024-11-22T21:10:50+00:00</lastmod>\n\t</sitemap>\n\t<sitemap>\n\t\t<loc>https://goldenaudiobooks.com/post-sitemap3.xml</loc>\n\t\t<lastmod>2025-12-11T20:35:57+00:00</lastmod>\n\t</sitemap>\n\t<sitemap>\n\t\t<loc>https://goldenaudiobooks.com/page-sitemap.xml</loc>\n\t\t<lastmod>2024-06-22T09:13:04+00:00</lastmod>\n\t</sitemap>\n\t<sitemap>\n\t\t<loc>https://[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/xml;charset=utf-8
    method: GET
    uri: https://goldenaudiobooks.com/post-sitemap.xml
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"//goldenaudiobooks.com/wp-content/plugins/wordpress-seo/css/main-sitemap.xsl\"?>\n<urlset
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:image=\"http://www.google.com/schemas/sitemap-image/1.1\"
        xsi:schemaLocation=\"http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd
        http://www.google.com/schemas/sitemap-image/1.1 http://www.google.com/schemas/sitemap-image/1.1/sitemap-image.xsd\"
        xmlns=\"http://www.sitemaps.org/schemas/sitemap/0.9\">\n\t<url>\n\t\t<loc>https://goldenaudiobooks.com/the-mermaid-and-mrs-hancock-audiobook/</loc>\n\t\t<lastmod>2020-09-27T15:46:54+00:00</lastmod>\n\t\t<image:image>\n\t\t\t<image:loc>https://goldenaudiobooks.com/wp-content/uploads/2018/10/61azP3SnoOL._SY346_.jpg</image:loc>\n\t\t</image:image>\n\t\t<image:image>\n\t\t\t<image:loc>https://goldenaudiobooks.com/wp-content/uploads/2020/09/61azP3SnoOL._SY346.jpg</image:loc>\n\t\t</image:image>\n\t</url>\n\t<url>\n\t\t<loc>https://goldenaudiobooks.com/killing-commendatore-book/</loc>\n\t\t<lastmod>2020-09-27T15:46:54+00:00</lastmod>\n\t\t<image:image>\n\t\t\t<image:loc>https://goldenaudiobooks.com/wp-content/uploads/2018/10/51Funa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://goldenaudiobooks.com/the-mermaid-and-mrs-hancock-audiobook/
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en-US\">\n<head>\n<meta charset=\"UTF-8\">\n<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link
        rel=\"profile\" href=\"https://gmpg.org/xfn/11\">\n\n<meta name='robots' content='index,
        follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />\n\n\t<!--
        This site is optimized with the Yoast SEO plugin v27.5 - https://yoast.com/product/yoast-seo-wordpress/
        -->\n\t<title>Imogen Hermes Gowar - The Mermaid and Mrs. Hancock Audiobook</title><link
        rel=\"preload\" data-rocket-preload as=\"image\" href=\"https://goldenaudiobooks.com/wp-content/uploads/2020/09/61azP3SnoOL._SY346.jpg\"
        fetchpriority=\"high\">\n\t<meta name=\"description\" content=\"The Mermaid
        and Mrs. Hancock Audiobook. Amidst the dynamic environment of upper class
        taking its satisfaction, there are darker touches.\" />\n\t<link rel=\"canonical\"
        href=\"https://goldenaudiobooks.com/the-mermaid-and-mrs-hancock-audiobook/\"
        />\n\t<meta property=\"og:locale\" content=\"en_US\" />\n\t<meta property=\"og:type\"
        content=\"article\" />\n\t<meta property=\"og:title\" content=\"Imogen Hermes
        Gowar - The Mermaid and Mrs. Hancock Audiobook\" />\n\t<meta property=\"og:description\"
        content=\"The Mermaid and Mrs. Hancock Audiobook. Amidst the dynamic environment
        of upper class taking i[...]
