interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hpaudiotales.com/
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en-US\" class=\"no-js\">\n<head>\n\t<meta
        charset=\"UTF-8\">\n\t<meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1, maximum-scale=1, user-scalable=0\" /><title>HPAudioTales.com
        &#8211; HP AudioBooks</title><link rel=\"preload\" data-rocket-preload as=\"style\"
        href=\"https://fonts.googleapis.com/css?family=Open%20Sans%3A300%2C400%2C600%2C700&#038;subset=latin%2Clatin-ext&#038;display=swap\"
        /><link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Open%20Sans%3A300%2C400%2C600%2C700&#038;subset=latin%2Clatin-ext&#038;display=swap\"
        media=\"print\" onload=\"this.media='all'\" /><noscript><link rel=\"stylesheet\"
        href=\"https://fonts.googleapis.com/css?family=Open%20Sans%3A300%2C400%2C600%2C700&#038;subset=latin%2Clatin-ext&#038;display=swap\"
        /></noscript><link rel=\"preload\" data-rocket-preload as=\"image\" href=\"https://hpaudiotales.com/wp-content/uploads/2024/01/J.K.-Rowling-7-800x768.jpg\"
        fetchpriority=\"high\">\n<meta name='robots' content='max-image-preview:large'
        />\n<link rel='dns-prefetch' href='//fonts.googleapis.com' />\n<link href='https://fonts.gstatic.com'
        crossorigin rel='preconnect' />\n<link rel=\"alternate\" type=\"application/rss+xml\"
        title=\"HPAudioTales.com &raquo; Feed\" href=\"https://hpaudiotales.com/feed/\"
        />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"HPAudioTales.com
        &raquo; Comments Feed\" href=\"https://hpaudiotales.com/comments/feed/\" />\n<style
        id='wp-img-auto-sizes-contain-inline-css' type='text/css'>\nimg:is([sizes=auto
        i],[sizes^=\"auto,\" i]){contain-intrinsic-size:3000px 1500px}\n/*# sourceURL=wp-img-auto-sizes-contain-inline-css
        */\n</style>\n<style id='wp-emoji-styles-inline-css' type='text/css'>\n\n\timg.wp-smiley,
        img.emoji {\n\t\tdisplay: inline !important;\n\t\tborder: none !important;\n\t\tbox-shadow:
        none !important;\n\t\theight: 1em !important;\n\t\twidth: 1em !important;\n\t\tmargin:
        0 0.07em !important;\n\t\tvertical-align: -0.1em !important;\n\t\tbackground:
        none !important;\n\t\tpadding: 0 !important;\n\t}\n/*# sourceURL=wp-emoji-styles-inline-css
        */\n</style>\n<style id='wp-block-library-[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://hpaudiotales.com/jim-dale-hp/
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en-US\" class=\"no-js\">\n<head>\n\t<meta
        charset=\"UTF-8\">\n\t<meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1, maximum-scale=1, user-scalable=0\" /><title>Jim Dale &#8211;
        HPAudioTales.com</title><link rel=\"preload\" data-rocket-preload as=\"style\"
        href=\"https://fonts.goo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://hpaudiotales.com/stephen-fry-hp/
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en-US\" class=\"no-js\">\n<head>\n\t<meta
        charset=\"UTF-8\">\n\t<meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1, maximum-scale=1, user-scalable=0\" /><title>Stephen Fry &#8211;
        HPAudioTales.com</title><link rel=\"preload\" data-rocket-preload as=\"style\"
        href=\"https://fon[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://hpaudiotales.com/j-k-rowling-hp/
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en-US\" class=\"no-js\">\n<head>\n\t<meta
        charset=\"UTF-8\">\n\t<meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1, maximum-scale=1, user-scalable=0\" /><title>J.K. Rowling
        &#8211; HPAudioTales.com</title><link rel=\"preload\" data-rocket-preload
        as=\"style\" href=\"https://fo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://hpaudiotales.com/privacy-policy/
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en-US\" class=\"no-js\">\n<head>\n\t<meta
        charset=\"UTF-8\">\n\t<meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1, maximum-scale=1, user-scalable=0\" /><title>Privacy Policy
        &#8211; HPAudioTales.com</title><link rel=\"preload\" data-rocket-preload
        as=\"style\" href=\"https://[...]
