interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://librivox.org/api/feed/audiobooks?extended=1&format=json&limit=50&reader=Karen+Savage
  response:
    body:
      string: '{"books":[{"id":"47","title":"Count of Monte Cristo","description":"<i>The
        Count of Monte Cristo<\/i> (French: <i>Le Comte de Monte-Cristo<\/i>) is an
        adventure novel by Alexandre Dumas, p\u00e8re. It is often considered, along
        with <i>The Three Musketeers<\/i>, as Dumas''s most popular work. The writing
        of the work was completed in 1844. Like many of his novels, it is expanded
        from the plot outlines suggested by his collaborating ghostwriter Auguste
        Maquet.<br \/><br \/>The story takes place in France, Italy, islands in the
        Mediterranean and the Levant during the historical events of 1815\u20131838
        (from just before the Hundred Days through the reign of Louis-Philippe of
        France). The historical setting is a fundamental element of the book. It is
        primarily concerned with themes of justice, vengeance, mercy, and forgiveness,
        and is told in the style of an adventure story. (Summary from Wikipedia)<br
        \/><br \/>\nThis book contains alternate versions of a number of chapters
        \u2013 indicated by an alt after the file number. The Zip files contain both
        versions of these chapters.<br \/><br \/>There are 2 versions of the M4Bs
        made , one containing the original files for these chapters (4 parts), the
        other containing the alternate files for the chapters (5 parts).","url_text_source":"https:\/\/www.gutenberg.org\/etext\/1184","language":"English","copyright_year":"1844","num_sections":"128","url_rss":"https:\/\/librivox.org\/rss\/47","url_zip_file":"https:\/\/archive.org\/compress\/count_monte_cristo_0711_librivox\/formats=64KBPS
        MP3&file=\/count_monte_cristo_0711_librivox.zip","url_project":"https:\/\/en.wikipedia.org\/wiki\/Count_of_Monte_Cristo","url_librivox":"https:\/\/librivox.org\/the-count-of-monte-cristo-by-alexandre-dumas\/","url_other":"","totaltime":"49:43:15","totaltimesecs":178995,"authors":[{"id":"431","first_name":"Alexandre","last_name":"Dumas","dob":"1802","dod":"1870"}],"url_iarchive":"https:\/\/www.archive.org\/details\/count_monte_cristo_0711_librivox","sections":[{"id":"121010","section_number":"1","title":"Marseilles\u2013The
        Arrival ","listen_url":"https:\/\/www.archive.org\/download\/count_monte_cristo_0711_librivox\/count_of_monte_cristo_001_dumas_64kb.mp3","language":"English","playtime":"1179","file_name":null,"readers":[{"reader_id":"14","display_name":"Kristin
        LeMoine"}]},{"id":"121011","section_number":"2","title":"Father and Son","listen_url":"https:\/\/www.archive.org\/download\/count_monte_cristo_0711_librivox\/count_of_monte_cristo_002_dumas_64kb.mp3","language":"English","playtime":"1157","file_name":null,"readers":[{"reader_id":"17","display_name":"Gord
        Mackenzie"}]},{"id":"121012","section_number":"3","title":"The Catalans","listen_url":"https:\/\/www.archive.org\/download\/count_monte_cristo_0711_librivox\/count_of_mo[...]
- request:
    body: null
    headers:
      A-Im:
      - feed
    method: GET
    uri: https://librivox.org/rss/47
  response:
    body:
      string: "<?xml version=\"1.0\" ?><rss xmlns:itunes=\"http://www.itunes.com/dtds/podcast-1.0.dtd\"
        xmlns:media=\"http://search.yahoo.com/mrss/\" xmlns:creativeCommons=\"http://backend.userland.com/creativeCommonsRssModule\"
        xmlns:atom=\"http://www.w3.org/2005/Atom\" version=\"2.0\">\n<channel>\n  <title><![CDATA[Count
        of Monte Cristo, The by Alexandre Dumas (1802 - 1870)]]></title>\n  <link><![CDATA[https://librivox.org/the-count-of-monte-cristo-by-alexandre-dumas/]]></link>\n
        \ <atom:link rel=\"self\" href=\"https://librivox.org/rss/47\" />\n  <description><![CDATA[<i>The
        Count of Monte Cristo</i> (French: <i>Le Comte de Monte-Cristo</i>) is an
        adventure novel by Alexandre Dumas, p\xE8re. It is often considered, along
        with <i>The Three Musketeers</i>, as Dumas's most popular work. The writing
        of the work was completed in 1844. Like many of his novels, it is expanded
        from the plot outlines suggested by his collaborating ghostwriter Auguste
        Maquet.<br /><br />The story takes place in France, Italy, islands in the
        Mediterranean and the Levant during the historical events of 1815\u20131838
        (from just before the Hundred Days through the reign of Louis-Philippe of
        France). The historical setting is a fundamental element of the book. It is
        primarily concerned with themes of justice, vengeance, mercy, and forgiveness,
        and is told in the style of an adventure story. (Summary from Wikipedia)<br
        /><br />This book contains alternate versions of a number of chapters \u2013
        indicated by an alt after the file number. The Zip files contain both versions
        of these chapters.<br /><br />There are 2 versions of the M4Bs made , one
        containing the original files for these chapters (4 parts), the other containing
        the alternate files for the chapters (5 parts).]]></description>\n  <!--<genre>project
        element=Genre</genre>-->\n  <language><![CDATA[en]]></language>\n  <itunes:type>serial</itunes:type>\n
        \ <itunes:author>LibriVox</itunes:author>\n  <itunes:summary><![CDATA[<i>The
        Count of Monte Cristo</i> (French: <i>Le Comte de Monte-Cristo</i>) is an
        adventure novel by Alexandre Dumas, p\xE8re. It is often considered, along
        with <i>The Three Musketeers</i>, as Dumas's most popular work. The writing
        of the work was completed in 1844. Like many of his novels, it is expanded
        from the plot outlines suggested by his collaborating ghostwriter Auguste
        Maquet.<br /><br />The story takes place in France, Italy, islands in the
        Mediterranean and the Levant during the historical events of 1815\u20131838
        (from just before the Hundred Days through the reign of Louis-Philippe of
        France). The historical setting is a fundamental element of the book. It is
        primarily concerned with themes of justice, vengeance, mercy, and forgiveness,
        and is told in the style of an adventure story. (Summary from Wikipedia)<br
        /><br />This book contains alternate versions of a number of chapters \u2013
        indicated by an alt after the file number. The Zip files contain both versions
        of these chapters.<br /><br />There are 2 versions of the M4Bs made , one
        containing the original files for these chapters (4 parts), the other containing
        the alternate files for the chapters (5 parts).]]></itunes:summary>\n  <itunes:owner>\n
        \   <itunes:name>LibriVox</itunes:name>\n    <itunes:email>info@librivox.org</itunes:email>\n
        \ </itunes:owner>\n  <itunes:category text=\"Arts\">\n    <itunes:category
        text=\"Literature\" />\n  </itunes:category>\n  <itunes:image href=\"https://www.archive.org/download/LibrivoxCdCoverArt12/Count_Monte_Cristo_1110.jpg\"
        />  <!-- file loop -->\n    <item>\n    <title><![CDATA[Marseilles\u2013The
        Arrival ]]></title>\n    <itunes:episode><![CDATA[1]]></itunes:episode>\n
        \   <!--<reader>file element=reader</reader> -->\n    <link><![CDATA[https://librivox.org/the-count-of-monte-cristo-by-alexandre-dumas/]]></link>\n
        \           <enclosure url=\"https://www.archive.org/download/count_monte_cristo_0711_librivox/count_of_monte_cristo_001_dumas_64kb.mp3\"
        length=\"0\" type=\"audio/mpeg\" />\n  <itunes:explicit>No</itunes:explicit>\n
        \ <itunes:block>No</itunes:block>\n  <itunes:duration>\n    <![CDATA[00:19:39]]>\n
        \ </itunes:duration>\n  <!--<pubDate>file element=rss.pubDate</pubDate>-->\n
        \ <media:content url=\"https://www.archive.org/download/count_monte_cristo_0711_librivox/count_of_monte_cristo_001_dumas_64kb.mp3\"
        type=\"audio/mpeg\" />\n </item>\n    <item>\n    <title><![CDATA[Father and
        Son]]></title>\n    <itunes:episode><![CDATA[2]]></itunes:episode>\n    <!--<reader>file
        element=reader</reader> -->\n    <link><![CDATA[https://librivox.org/the-count-of-monte-cristo-by-alexandre-dumas/]]></link>\n
        \           <enclosure url=\"https://www.archive.org/downloa[...]
