interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://librivox.org/api/feed/audiobooks?extended=1&format=json&limit=50&author=Tolstoy
  response:
    body:
      string: '{"books":[{"id":"162","title":"Childhood","description":"Childhood,
        published in 1852, is the first novel in Leo Tolstoy\u2019s autobiographical
        trilogy, which also includes Boyhood, and Youth. Published when Tolstoy was
        twenty-three, the book gained immediate notice among Russian writers including
        Ivan Turgenev, and heralded the young Tolstoy as a major figure in Russian
        letters. Childhood is an expressionist exploration of the internal life of
        a young boy, Nikolenka, and was a new form in Russian writing, mixing fact,
        fiction and emotions to render the moods and reactions of the narrator. Childhood
        is Tolstoy\u2019s first published work. Translated into English by C. J. Hogarth.
        (Summary by Hugh)","url_text_source":"https:\/\/www.gutenberg.org\/etext\/2142","language":"English","copyright_year":"1895","num_sections":"18","url_rss":"https:\/\/librivox.org\/rss\/162","url_zip_file":"https:\/\/archive.org\/compress\/childhood_english_librivox\/formats=64KBPS
        MP3&file=\/childhood_english_librivox.zip","url_project":"https:\/\/en.wikipedia.org\/wiki\/Childhood_(novel)","url_librivox":"https:\/\/librivox.org\/childhood-english-trans-by-leo-tolstoy-translated-by-c-j-hogarth\/","url_other":"","totaltime":"4:06:36","totaltimesecs":14796,"authors":[{"id":"217","first_name":"Leo","last_name":"Tolstoy","dob":"1828","dod":"1910"}],"url_iarchive":"https:\/\/www.archive.org\/details\/childhood_english_librivox","sections":[{"id":"123119","section_number":"1","title":"Chapter
        1-3 ","listen_url":"https:\/\/www.archive.org\/download\/childhood_english_librivox\/childhood_01-03_tolstoy_64kb.mp3","language":"English","playtime":"1786","file_name":null,"readers":[{"reader_id":"78","display_name":"Hugh
        McGuire"}]},{"id":"123120","section_number":"2","title":"Chapter 4-6","listen_url":"https:\/\/www.archive.org\/download\/childhood_english_librivox\/childhood_04-06_tolstoy_64kb.mp3","language":"English","playtime":"1168","file_name":null,"readers":[{"reader_id":"66","display_name":"Alex
        Foster"}]},{"id":"123121","section_number":"3","title":"Chapter 7-9","listen_url":"https:\/\/www.archive.org\/download\/childhood_english_librivox\/childhood_07-09_tolstoy_64kb.mp3","langua[...]
- request:
    body: null
    headers:
      A-Im:
      - feed
    method: GET
    uri: https://librivox.org/rss/162
  response:
    body:
      string: "<?xml version=\"1.0\" ?><rss xmlns:itunes=\"http://www.itunes.com/dtds/podcast-1.0.dtd\"
        xmlns:media=\"http://search.yahoo.com/mrss/\" xmlns:creativeCommons=\"http://backend.userland.com/creativeCommonsRssModule\"
        xmlns:atom=\"http://www.w3.org/2005/Atom\" version=\"2.0\">\n<channel>\n  <title><![CDATA[Childhood
        by Leo Tolstoy (1828 - 1910)]]></title>\n  <link><![CDATA[https://librivox.org/childhood-english-trans-by-leo-tolstoy-translated-by-c-j-hogarth/]]></link>\n
        \ <atom:link rel=\"self\" href=\"https://librivox.org/rss/162\" />\n  <description><![CDATA[Childhood,
        published in 1852, is the first novel in Leo Tolstoy\u2019s autobiographical
        trilogy, which also includes Boyhood, and Youth. Published when Tolstoy was
        twenty-three, the book gained immediate notice among Russian writers including
        Ivan Turgenev, and heralded the young Tolstoy as a major figure in Russian
        letters. Childhood is an expressionist exploration of the internal life of
        a young boy, Nikolenka, and was a new form in Russian writing, mixing fact,
        fiction and emotions to render the moods and reactions of the narrator. Childhood
        is Tolstoy\u2019s first published work. Translated into English by C. J. Hogarth.
        (Summary by Hugh)]]></description>\n  <!--<genre>project element=Genre</genre>-->\n
        \ <language><![CDATA[en]]></language>\n  <itunes:type>serial</itunes:type>\n
        \ <itunes:author>LibriVox</itunes:author>\n  <itunes:summary><![CDATA[Childhood,
        published in 1852, is the first novel in Leo Tolstoy\u2019s autobiographical
        trilogy, which also includes Boyhood, and Youth. Published when Tolstoy was
        twenty-three, the book gained immediate notice among Russian writers including
        Ivan Turgenev, and heralded the young Tolstoy as a major figure in Russian
        letters. Childhood is an expressionist exploration of the internal life of
        a young boy, Nikolenka, and was a new form in Russian writing, mixing fact,
        fiction and emotions to render the moods and reactions of the narrator. Childhood
        is Tolstoy\u2019s first published work. Translated into English by C. J. Hogarth.
        (Summary by Hugh)]]></itunes:summary>\n  <itunes:owner>\n    <itunes:name>LibriVox</itunes:name>\n
        \   <itunes:email>info@librivox.org</itunes:email>\n  </itunes:owner>\n  <itunes:category
        text=\"Arts\">\n    <itunes:category text=\"Literature\" />\n  </itunes:category>\n
        \ <itunes:image href=\"https://archive.org/download/childhood_english_librivox/Childhood_English_1109.jpg\"
        />  <!-- file loop -->\n    <item>\n    <title><![CDATA[Chapter 1-3 ]]></title>\n
        \   <itunes:episode><![CDATA[1]]></itunes:episode>\n    <!--<reader>file element=reader</reader>
        -->\n    <link><![CDATA[https://librivox.org/childhood-english-trans-by-leo-tolstoy-translated-by-c-j-hogarth/]]></link>\n
        \           <enclosure url=\"https://www.archive.org/download/childhood_english_librivox/childhood_01-03_tolstoy_64kb.mp3\"
        length=\"0\" type=\"audio/mpeg\" />\n  <itunes:explicit>No</itunes:explicit>\n
        \ <itunes:block>No</itunes:block>\n  <itunes:duration>\n    <![CDATA[00:29:46]]>\n
        \ </itunes:duration>\n  <!--<pubDate>file element=rss.pubDate</pubDate>-->\n
        \ <media:content url=\"https://www.archive.org/download/childhood_english_librivox/childhood_01-03_tolstoy_64kb.mp3\"
        type=\"audio/mpeg\" />\n </item>\n    <item>\n    <title><![CDATA[Chapter
        4-6]]></title>\n    <itunes:episode><![CDATA[2]]></itunes:episode>\n    <!--<reader>file
        element=reader</reader> -->\n    <link><![CDATA[https://librivox.org/childhood-english-trans-by-leo-tolstoy-translated-by-c-j-hogarth/]]></link>\n
        \           <enclosure url=\"https://www.archive.org/down[...]
