interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/xml;charset=utf-8
    method: GET
    uri: https://darkerprojects.com/wp-sitemap-posts-post-1.xml
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <?xml-stylesheet type="text/xsl" href="https://darkerprojects.com/wp-sitemap.xsl"
        ?>

        <urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"><url><loc>https://darkerprojects.com/outer-limits/outer-limits-001-the-spark-of-life/</loc><lastmod>2022-02-20T22:50:00-05:00</lastmod></url><url><loc>https://darkerprojects.com/quantum-retribution/173/</loc><lastmod>2022-02-21T18:52:43-05:00</lastmod></url><url><loc>https://darkerprojects.com/quantum-retribution/qr-episode-004-reprecussions/</loc><lastmod>2022-02-21T19:07:25-05:00</lastmod></url><url><loc>https://darkerprojects.com/quantum-retribution/episode-001-nightmares-conception/</loc><lastmod>2022-02-21T18:57:44-05:00</lastmod></url><url><loc>https://darkerprojects.com/quantum-retribut[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://darkerprojects.com/outer-limits/outer-limits-001-the-spark-of-life/
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en-US\">\n<head>\n    <meta charset=\"UTF-8\">\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \   <link rel=\"profile\" href=\"http://gmpg.org/xfn/11\">\n\n    <title>OL
        &#8211; Ep 001: The Spark of Life &#8211; Darker Projects</title>\n<meta name='robots'
        content='max-image-preview:large' />\n<link rel='dns-prefetch' href='//fonts.googleapis.com'
        />\n<link rel=\"alternate\" title=\"oEmbed (JSON)\" type=\"application/json+oembed\"
        href=\"https://darkerprojects.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fdarkerprojects.com%2Fouter-limits%2Fouter-limits-001-the-spark-of-life%2F\"
        />\n<link rel=\"alternate\" title=\"oEmbed (XML)\" type=\"text/xml+oembed\"
        href=\"https://darkerprojects.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fdarkerprojects.com%2Fouter-limits%2Fouter-limits-001-the-spark-of-life%2F&#038;format=xml\"
        />\n<style id='wp-img-auto-sizes-contain-inline-css' type='text/css'>\nimg:is([sizes=auto
        i],[sizes^=\"auto,\" i]){contain-intrinsic-size:3000px 1500px}\n/*# sourceURL=wp-img-auto-sizes-contain-inline-css
        */\n</style>\n<link rel='stylesheet' id='scap.flashblock-css' href='https://darkerprojects.com/wp-content/plugins/compact-wp-audio-player/css/flashblock.css?ver=6.9.4'
        type='text/css' media='all' />\n<link rel='stylesheet' id='scap.player-css'
        href='https://darkerprojects.c[...]
