interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://darkerprojects.com/
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en-US\">\n<head>\n    <meta charset=\"UTF-8\">\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \   <link rel=\"profile\" href=\"http://gmpg.org/xfn/11\">\n\n    <title>Darker
        Projects &#8211; Audio Drama In A Darker Shade</title>\n<meta name='robots'
        content='max-image-preview:large' />\n<link rel='dns-prefetch' href='//fonts.googleapis.com'
        />\n<link rel=\"alternate\" title=\"oEmbed (JSON)\" type=\"application/json+oembed\"
        href=\"https://darkerprojects.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fdarkerprojects.com%2F\"
        />\n<link rel=\"alternate\" title=\"oEmbed (XML)\" type=\"text/xml+oembed\"
        href=\"https://darkerprojects.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fdarkerprojects.com%2F&#038;format=xml\"
        />\n<style id='wp-img-auto-sizes-contain-inline-css' type='text/css'>\nimg:is([sizes=auto
        i],[sizes^=\"auto,\" i]){contain-intrinsic-size:3000px 1500px}\n/*# sourceURL=wp-img-auto-sizes-contain-inline-css
        */\n</style>\n<link rel='stylesheet' id='scap.flashblock-css' href='https://darkerprojects.com/wp-content/plugins/compact-wp-audio-player/css/flashblock.css?ver=6.9.4'
        type='text/css' media='all' />\n<link rel='stylesheet' id='scap.player-css'
        href='https://darkerprojects.c[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://darkerprojects.com/about/
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en-US\">\n<head>\n    <meta charset=\"UTF-8\">\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \   <link rel=\"profile\" href=\"http://gmpg.org/xfn/11\">\n\n    <title>About
        Us &#8211; Darker Projects</title>\n<meta name='robots' content='max-image-preview:large'
        />\n<l[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://darkerprojects.com/auditions-2/
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en-US\">\n<head>\n    <meta charset=\"UTF-8\">\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \   <link rel=\"profile\" href=\"http://gmpg.org/xfn/11\">\n\n    <title>Auditions!
        &#8211; Darker Projects</title>\n<meta name='robots' content='max-image-preview:large'
      [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://darkerprojects.com/contact/
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en-US\">\n<head>\n    <meta charset=\"UTF-8\">\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \   <link rel=\"profile\" href=\"http://gmpg.org/xfn/11\">\n\n    <title>Contact
        Us &#8211; Darker Projects</title>\n<meta name='robots' content='max-image-preview:large'
        />[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://darkerprojects.com/contribute/
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en-US\">\n<head>\n    <meta charset=\"UTF-8\">\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \   <link rel=\"profile\" href=\"http://gmpg.org/xfn/11\">\n\n    <title>Contribute!
        &#8211; Darker Projects</title>\n<meta name='robots' content='max-image-preview:large'
      [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://darkerprojects.com/dp-shows/
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en-US\">\n<head>\n    <meta charset=\"UTF-8\">\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \   <link rel=\"profile\" href=\"http://gmpg.org/xfn/11\">\n\n    <title>Our
        Podcasts &#8211; Darker Projects</title>\n<meta name='robots' content='max-image-preview:large'
       [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://darkerprojects.com/dp-shows/fan-fiction-shows/
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en-US\">\n<head>\n    <meta charset=\"UTF-8\">\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \   <link rel=\"profile\" href=\"http://gmpg.org/xfn/11\">\n\n    <title>Fan
        Fiction Shows &#8211; Darker Projects</title>\n<meta name='robots' content='max-image[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://darkerprojects.com/dp-shows/original-shows/
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en-US\">\n<head>\n    <meta charset=\"UTF-8\">\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \   <link rel=\"profile\" href=\"http://gmpg.org/xfn/11\">\n\n    <title>Original
        Shows &#8211; Darker Projects</title>\n<meta name='robots' content='max-image-previ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://darkerprojects.com/updates/
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en-US\">\n<head>\n    <meta charset=\"UTF-8\">\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \   <link rel=\"profile\" href=\"http://gmpg.org/xfn/11\">\n\n    <title>Updates
        &#8211; Darker Projects</title>\n<meta name='robots' content='max-image-preview:large'
        />\n<[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://darkerprojects.com/tag/quantum-retriution/
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en-US\">\n<head>\n    <meta charset=\"UTF-8\">\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \   <link rel=\"profile\" href=\"http://gmpg.org/xfn/11\">\n\n    <title>Quantum
        Retriution &#8211; Darker Projects</title>\n<meta name='robots' content='max-image-pr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://darkerprojects.com/tag/darker-projects/
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en-US\">\n<head>\n    <meta charset=\"UTF-8\">\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \   <link rel=\"profile\" href=\"http://gmpg.org/xfn/11\">\n\n    <title>Darker
        Projects &#8211; Darker Projects</title>\n<meta name='robots' content='max-image-preview:[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://darkerprojects.com/night-terrors/nt-season2-ep-011-on-a-country-road/
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en-US\">\n<head>\n    <meta charset=\"UTF-8\">\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \   <link rel=\"profile\" href=\"http://gmpg.org/xfn/11\">\n\n    <title>NT:
        \ Season2 Ep 011:  On A Country Road &#8211; Darker Projects</[...]
